* {
  box-sizing: border-box;
}
@mixin bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
$red: #e55632;
body {
  margin: 0;
  padding: 0;
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 5rem auto;
  .col {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 1rem;
    .title {
      text-align: center;
      font-size: 1.5rem;
      color: gold;
      font-weight: 900;
      position: relative;
      display: inline-block;
      background-color: $red;
      padding: 5px 10px;
    }
    .list {
      flex-wrap: wrap;
      margin-bottom: 0;
      min-height: 250px;
      border: 5px solid gold;
      background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        display: inline-block;
        width: 150px;
        padding-right: 10px;
        .avatar {
          padding-bottom: 100%;
          border-radius: 50%;
          border: 4px solid gold;
          @include bg;
        }
        .name {
          text-align: center;
          color: #f1f1f1;
        }
      }
    }

    .player {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      position: relative;
      .img {
        padding-bottom: 100%;
        width: 100%;
        @include bg;
      }
      p {
        text-align: center;
        background-color: $red;
        opacity: .8;
        color: #f1f1f1;
        padding: 5px;
      }
    }
    .controll-panel {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      font-size: 3rem;
      padding-top: 2rem;
      .start {
        display: block;
        margin: 2rem auto;
        padding: 20px;
        background-color: gold;
        color: $red;
        font-weight: 900;
        border: none;
        box-shadow: 3px 5px 10px $red;
        cursor: pointer;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0;
        color: white;
        letter-spacing: 2px;
      }
      .arrow {
        display: inline;
        cursor: pointer;
        i {
          color: white;
          font-size: 2rem;
        }
      }
      .count {
        color: white;
        display: inline;
        margin: 0 1rem;
        font-weight: 800;
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 768px) {
  .container {
    margin-top: 2rem;
    .col {
      .list {
        min-height: 200px;
        li {
          width: 100px;
        }
      }
    }
  }
}